<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
   </aside>
   <aside >
      <section>
        <%= render 'shared/expence_form' %>
      </section>
  </aside>
  </div>  
<% else %>


<div class="center hero-unit">
  <h1>Mamboo App</h1>

  <h2> 
    <a href="#">Ruby on Rails Aplication</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<% end %>